{% extends "base.html" %}

{% block head %} {% endblock %}

{% block title %} {{title}} {% endblock %}

{%block content%}

    <center>
        <h1>{{title}}</h1>

        {% if message == "" %}

            <form method="POST">
                {% csrf_token %}
                <label for='libri'>Scegli un libro da eliminare</label>
                <select id='libri' name='libro'>
                    {% for i in libri %}
                        <option value="{{i.pk}}">{{i.pk}}:{{i}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Elimina">
            </form> 

        {% else %}

            <p> {{message}} </p>
            <a href="{% url 'gestione:listalibri' %}">Lista Libri</a>

        {% endif %}

    </center>

{% endblock %}