{% extends 'base.html' %}

{% block title %} Registrazione {% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    {% block extra_head %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
{% endblock %}

{% block header1 %}
    <div class="text-center py-3" style="background-color: #cccccc">
        <h1 class="text-black">Pagina di registrazione</h1>
        <br>
        <p>Si prega di compilare i campi necessari</p>
    </div>
    <br>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Biblio3</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/gestione/' %}active{% endif %}">
                    <a class="nav-link" href="/gestione/">Gestione</a>
                </li>
                <li class="nav-item {% if request.path == '/gestione/libri' %}active{% endif %}">
                    <a class="nav-link" href="/gestione/libri">Lista dei libri</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Definisce la larghezza del form -->
                <form method="post" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success mt-3" value="Registrati ora!">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
